<div class="nav d-flex flex-column bg-light ps-4">
    <h1><a href="#"><img class="mt-4" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg" alt="logo"></a></h1>
    <a href="#" class="nav-link d-flex align-items-center link-success mt-4">
        <span class="material-icons me-3">
            question_answer
            </span>
        <p class="fw-bold">Question</p>
    </a>
    <a href="#" class="nav-link d-flex align-items-center link-success">
        <span class="material-icons me-3">
            assignment
        </span>
        <p class="fw-bold">Assignment</p>
    </a>
    <a href="#" class="nav-link d-flex align-items-center link-success">
        <span class="material-icons me-3">
            video_library
        </span>
        <p class="fw-bold">Course</p>
    </a>
    <a href="#" class="nav-link d-flex align-items-center link-success">
        <span class="material-icons me-3">
            supervisor_account
        </span>
        <p class="fw-bold">Admin</p>
    </a>
    </a>
    <a href="#" class="nav-link d-flex align-items-center link-success">
        <span class="material-icons me-3">
            settings
        </span>
        <p class="fw-bold">Settings</p>
    </a>
    <div class="account d-flex mt-auto mb-4">
        <img class="rounded-circle me-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="Andy Chen">
        <div class="d-flex flex-column">
            <p class="fw-bold mb-1">Andy Chen</p>
            <p class="account-email text-gray-600">andy0401@mail.com</p>
        </div>
    </div>
</div>